<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      ><img
        class="banner"
        src="../../assets/free-logo-inrjsddm8a-2bivskpd61.jpg"
        alt=""
    /></ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card>
    <ion-card-content>
      <ion-input id="1" style="text-align: center; margin-bottom: 1em;" placeholder="Nombre Carta">
      </ion-input>
      <ion-button style="margin-left: 11em; margin-bottom: 1em;" (click)="getAxiosData()">
        Buscar
      </ion-button>
    </ion-card-content>
  </ion-card>
  <br>
  <br>
  <ion-card>
    <ion-card class="info">
      <ion-label style="margin-left: 2.3em; ">{{name | uppercase}}</ion-label>
    </ion-card>
    <ion-card class="info">
      <ion-label style="margin-left: 2.3em; ">{{stage}}</ion-label>
    </ion-card>
    <ion-card class="info">
      <ion-label style="margin-left: 2.3em; ">{{types}}</ion-label>
    </ion-card>
    <ion-card class="info">
      <ion-label style="margin-left: 2.3em; ">{{(hp)}}</ion-label>
    </ion-card>
      <img class="pokecard" style="max-width: 27em; margin-left: 0.5em; margin-bottom: 0.8em;"
           src={{imgeUrls}}>
    <ion-card class="info" >
      <ion-label style="margin-left: 3.5em;">{{priceTCGPlayer}}</ion-label>
    </ion-card>
    <ion-card class="info" >
      <ion-label style="margin-left: 3.5em;">{{priceCardMarket}}</ion-label>
    </ion-card>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-content class="name" style="margin-left: 9em; margin-top: 1em;">
      {{build.message | uppercase}}
    </ion-card-content>
    <ion-card-content style="margin-left: 11em; margin-top: 1em;">
      {{build.what | uppercase}}
    </ion-card-content>
    <ion-card-content>
      <img style="margin-left: 10em;  
                  margin-bottom: 2em; 
                  border-radius: 10%; 
                  padding-top: 2em; 
                  border-radius: 30%;
                  width: 35%;" 
           src="../../assets/eevee.png">
    </ion-card-content>
  </ion-card>

</ion-content>
