<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      ><img
        class="banner"
        src="../../assets/free-logo-inrjsddm8a-2bivskpd61.jpg"
        alt=""
    /></ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-card>
    <ion-card-content class="header">
        <ion-card-title style="margin-bottom: 0.5em;">Perfil</ion-card-title>
        <ion-card-subtitle>Usuario</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  
<ion-content>

  <br>
  <br>

    <ion-card-content>
      <img class="logo" src="../../assets/icon/62-626956_profile-man-icon-hd-png-download.png" alt="">
  </ion-card-content>
  <ion-card-content>
    <ion-card class="nombre">
      <ion-card-title>{{nombre}}</ion-card-title>
    </ion-card>
    <ion-card class="nombre">
      <ion-card-title>{{profesion}}</ion-card-title>
    </ion-card>
    <ion-card class="review">
      <ion-card-content class="review">{{review}}</ion-card-content>
    </ion-card>
  </ion-card-content>

  <ion-card>
    <ion-button style="padding-left: 25%; margin-bottom: 2em; margin-left: 4em;" shape="round" (click)="reload()">
      Reload
    </ion-button>
  </ion-card>

</ion-content> 








