<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      ><img
        class="banner"
        src="../../assets/free-logo-inrjsddm8a-2bivskpd61.jpg"
        alt=""
    /></ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="header">
    <ion-card>
      <ion-card-title>Perfil</ion-card-title>
      <ion-card-subtitle>Usuario</ion-card-subtitle>
    </ion-card>
  </ion-item>

  <br>
  <br>

  <ion-content class="logo">
    <ion-card-content>
      <img class="logo" src="../../assets/icon/62-626956_profile-man-icon-hd-png-download.png" alt="">
  </ion-card-content>
    <ion-card>
    <ion-card-title>{{nombre}}</ion-card-title>
    </ion-card>
    <ion-card>
    <ion-card-title>{{profesion}}</ion-card-title>
    </ion-card>
    <ion-card>
    <ion-card-content class="review">{{review}}</ion-card-content>
    </ion-card>
  </ion-content>

  <ion-card>
    <span>Test</span>
  </ion-card>
</ion-content> 








