ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

img {
    max-width: fit-content;
  @media screen and (min-height: 480px) {
    padding-top: 2em;
    padding-left: 6em;
    flex: auto;
  }
}